@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  background: hsl(0, 0%, 98%);
}
.body-dark-mode {
  background: hsl(235, 21%, 11%);
}

img  {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
 #bgImage {
  width:100vw;
  height: 300px;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  background-image: url(images/bg-desktop-light.jpg);
  background-position: center;
}
.bg-img-dark-mode {
  background-image: url(images/bg-desktop-dark.jpg) !important;
}

main {
  width:600px;
  height:300px;
  margin:0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

/************************************** BG AND TITLE SECTION *********************************/
.title {
  display: flex;
  justify-content: space-between;
}
.title p {
  font-size: 2.5em;
  text-transform: uppercase;
  color:white;
  font-weight: 700;
  letter-spacing: 10px;
}
.moon-svg {
  cursor: pointer;
}
.sun-svg {
  display: none;
  cursor: pointer;
}


/************************************** PLACEHOLDER SECTION *********************************/
.placeholder-row {
  height: 60px;
  margin-top: 50px;
  position: relative;
  margin-bottom: 50px;
}

.div-for-empty-circle  {
  position:absolute;
  top:20px;
  left:20px;
  border:1px solid #EDEDED;
  width:20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  z-index: 10;
}

.placeholder-row input {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  padding-left: 50px;
  border-radius: 7px;
  border: none;
  font-size: 1.1em;
  font-family: 'Josefin Sans', sans-serif;
}
.inputBG-dark-mode {
  background: hsl(235, 24%, 19%) !important;
  color: hsl(234, 39%, 85%);
}

input:focus{
  outline: none;
}

/*************************************** LIST ITEMS SECTION **********************************/
#toDoThingsId {
  background:white;
  box-shadow: 1px 1px 18px 2px rgba(0,0,0,0.25);
  position: relative;
  border-radius: 7px;
}
.items-dark-mode {
 background: hsl(235, 24%, 19%) !important;
 border: none;
 color: hsl(234, 39%, 85%);
}

.liDivClass {
  height: 60px;
  width: 100%;
  padding-left: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}

.crossed-paragraph {
  color: grey;
}

.cross-svg-div {
  position: absolute;
  top:22px;
  right:20px;
  opacity:0;
  transition: 200ms;
}
.liDivClass:hover .cross-svg-div,
.liDivClass:active .cross-svg-div{
  opacity:1;
  transition: 200ms;
}

.check-svg-div {
  position:relative;
  border:1px solid #EDEDED;
  width:20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  background:white;
  transition: 200ms;
}
.liDivClass:hover .check-svg-div,
.liDivClass:active .check-svg-div {
  transition: 200ms;
  border-color: hsl(280, 87%, 65%);;
}

.check-svg-div-marking {
  background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  border: none;
}

.check-svg {
  position: absolute;
  top:5px;
  left: 5px;
}

/*************************************** OPTIONS BELOW SECTION **********************************/
.options-below-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height:60px;
  width:100%;
  position: relative;
  /*border-top: 1px solid hsl(0, 0%, 98%);*/
}

#showLeftItemsBtn {
  position: absolute;
  top:23px;
  left:22px;
  font-size: 14px;
  color: grey;
  cursor:default;
}

#clearCompletedBtn {
  position: absolute;
  top:23px;
  right:20px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}

#clearCompletedBtn:hover,
#clearCompletedBtn:active {
  color:lightgrey;
}

/*
.options-below-div p {
  margin: auto 10px;
}

#allBtn:hover,
#allBtn:active,
#activeBtn:hover,
#activeBtn:active,
#completedBtn:hover,
#completedBtn:active,
#clearCompletedBtn:hover,
#clearCompletedBtn:active {
  color:grey;
}
*/


/*************************************** FRONTEND MENTOR ATTRIBUTION  **********************************/
.attribution {
  margin: 50px auto;
  padding-bottom: 40px;
  text-align: center;
  font-size: 12px;
  color: grey;
}
.attribution a {
  color: grey;
}


/*************************************** MEDIA QUERIES  **********************************/
@media screen and (max-width: 600px) {
  main {
    width:auto;
    height:auto;
    margin: 80px 15px 20px 15px;
  }
}  



